
@{
    ViewBag.Title = "Control Panel";
}

<div class="alert alert-info alert-pills" role="alert">
    <a href="~/Management/Sites" class="alert-link">Sites</a>
    <a href="~/Management/Sites" class="alert-link">Images</a>
</div>

<div class="row">
    <div class="col-xs-4 col-md-2">
        <a href="~/Management/Sites" class="thumbnail">
            <img src="~/Content/Icons/constructionSite.png" alt="" class="img-icon" />
        </a>
        <p class="text-center text-info">Sites</p>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="~/Management/Images" class="thumbnail">
            <img src="~/Content/Icons/images-icon.png" alt="" class="img-icon" />
        </a>
        <p class="text-center text-info">Images</p>
    </div>
</div>

